/******************************HISTORY*******************************/
#history{
    background: rgb(243,243,243);
}
#history .cl{
    height: 150px;
    margin: 0 auto;
    text-align: center;
}


#history ul li{
    text-align: center;
    list-style: none;
    font-size: 36px;
    line-height: 130px;
}


#history .about{
    padding: 0px 60px;
}

#history p{
    height: 150px;
    margin: 0 auto;
}

#history .cl i{
    font-size: 42px;
    color: #000;
    margin-bottom: 10px;
}

#history .cl p{
    font-size: 18px;
}

.about span{
display: block;
text-align: center;
    margin-bottom: 20px;
}

#awesome .heading{
    letter-spacing: 4px;
}
#awesome .green{
    word-spacing: 4px;
    letter-spacing: 2px;
}
.about h4{
text-align: center;
margin-bottom: 10px;
text-transform: uppercase;
    margin-bottom: 30px;
}
.about h4 span{
    font-size: 24px;
    font-weight: 900;
}
.about .one{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.about .last{
    border-top: 1px solid black;
    border-left: 1px solid black;
}

#awesome{
    padding-top: 100px;
}

.green{
    color: #77bc25;
}