*{
    font-family: 'Cairo', sans-serif;
    
}
#contact .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0;
}

#contact .item {
    padding: 3rem;
    background: #eee;
    color: #000;
    text-align: center;
}
#contact .item-dark{
    background: #ddd;
}
.f-right{
    float: right;
}
.clear-fix{
    clear: all;
}

.input-text{
    padding: 5px 10px;
    width: 100%;
    border:1px solid #ccc;
    
}
#contact .sub-input{
    padding: 5px 10px;
    width: 100%;
}
#contact .comment-text-area{
    width: 100%;
    resize: none;
}
.center{
    text-align: center;
    margin:0 auto;
}
::placeholder{
    color: #ccc;
    font-family: 'Cairo', sans-serif;
}
#contact .map{
    width: 100%;
    height: 800px;
}
.green{
    color:  #77bc25;
}

#contact i{
    margin-bottom: 20px;
}
#contact{
/*    margin-top: 20px;*/
}
.contact-container{
    margin: 0 150px;
}