*{
    font-family: 'Cairo', sans-serif;
}
.b-heading{
    font-size: 22px;
    font-weight: 600;
}
#img-card{
    position: relative;
/*
    width: 100%;
    height: 1000px;
*/
/*    background: url('sidekix-media-_IAZoJ6X-1A-unsplash2.jpg') no-repeat center;*/
}
/*
#card{
    width: 500px;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
    margin: 0 auto;
    padding: 30px;
}
*/
#card{
    position: absolute;
/*    top:0;*/
    left:0;
    
/*    transform: translateX(50%);*/
    transform: translate(50%, -30%);
    background: #fff;
    z-index: 99;
}
#card .container{
    width: 700px;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
    margin: 0 auto;
    padding: 30px;
}
.f-right{
    float: right;
}
.bold{
    font-weight: bold;
}
.design-container{
    margin: 80px 80px;
}
.carousel{
    margin: 100px 0;
    padding: 50px 0 0 0;
}
#blueprint{
    background-color: rgb;
}

#clients{
    background-color: rgb(243,243,243);
}