*{
    font-family: 'Cairo', sans-serif;
}
#header{
    height: 100px;
    background: #FFF;
    position: fixed;
    z-index: 9999;
}
#header i{
    color: #77bc25;
    margin-right: 10px;
    
}
#header p{
    line-height: 100px;
}
#header img{
    margin: 30px 0;
}
.fixed-container{
    margin: 0 130px;
}



.page-head{
    background: #000;
    font-family: 'Josefin Sans',sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 16px;
    box-sizing: border-box;
    height: 45px; 
    font-weight: 500;
    position: fixed;
    width: 100%;
    top: 100px !important;
    left: 0;
    z-index: 999;
}
.page-head ul{
   line-height: 45px;
}
.page-head li{
    display: inline;
    line-height: 45px;
/*    padding: 0 25px;*/
/*    line-height: 25px;*/
}
.page-head a{
    text-decoration: none;
    color: white;
    padding: 12px 25px;

}
.page-head a:hover,
.page-head a:focus{
/*    background: #c8c8c8;*/
    color: #77bc25;
/*    border-color:  #c8c8c8;*/
}


.page-head li .search{
    display: inline;
    background: #000;
}
.page-head i{
    color: #fff;
    line-height: 45px;
    
}

.f-right{
    float: right;
}
.clear-fix:after{
    content: '';
    display: block;
    clear: both;
}


#image{
    height: 400px;
    width: 100%;
    background: url('../img/kitchen-2565105_1280.jpg')  bottom no-repeat;
    background-size: cover;
    

/*    opacity: .7;*/
}
.overlay {
/*  position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    height: 650px;*/
    background: rgba(0,0,0,0.7);
    
/*    width: 100%;*/
}




    
   
    
    
.image-content{
    width: 100%;
    height: 100%;
    display: table;
}

.image-content-inner{
    display: table-cell ;
    vertical-align: middle;
    text-align: center;
}

#image h1{
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    color: #FFF;
    text-transform: uppercase;
    margin-bottom: 10px;
     word-spacing: 2px;
    font-family: 'Josefin Sans', sans-serif;

}

#image p{
    
    font-size: 16px;
    word-spacing: 2px;
    letter-spacing: 1.5px;
    margin-top: 0;
    margin-bottom: 30px;
    color: #FFF;
    font-weight: 100;
    opacity: 0.8;
}


#image .image-content.overlay{
    position: absolute;
    top: 100px;
    left: 0;
    height: 300px;
    background: rgba(0,0,0,0.7);
    width: 100%;
}

#image .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0;
}

#image .item {
    padding: 3rem;
    background: transparent;
}
#image .item:last-child{
    text-align: right;
}

#image .item i{
    color: black;
}