/********************************HOME*********************************************/
#home{
    background-image: url(../img/home/bg-home.jpg);
    background-position: center;
    width: 100%;
    height: 650px;
    z-index: -2;
}
.home-content{
    width: 100%;
    height: 100%;
    display: table;
}

.home-content-inner{
    display: table-cell ;
    vertical-align: middle;
    text-align: center;
}

#home h1{
    font-size: 50px;
    text-align: center;
    font-weight: 700;
    color: #FFF;
    text-transform: uppercase;
    margin-bottom: 10px;
     word-spacing: 2px;

}

#home p{
    font-size: 16px;
    word-spacing: 2px;
    letter-spacing: 1.5px;
    margin-top: 0;
    margin-bottom: 30px;
    color: #FFF;
    font-weight: 100;
    opacity: 0.8;
}


#home .home-content.overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 650px;
    background: rgba(0,0,0,0.7);
    width: 100%;
}

#home .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0;
}

#home .item {
    padding: 3rem;
    background: transparent;
}
#home .item:last-child{
    text-align: right;
}

#home .item i{
    color: black;
}

#bg-content .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0;
}

#bg-content .item {
    padding: 3rem;
    background: rgb(33,28,28);
    color: #FFF;
    text-align: center;
}

#bg-content .item.item-dark{
    background: rgb(29,24,24);
}

#bg-content p{
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 30px;
    color: #FFF;
    font-weight: 100;
    opacity: 0.8;
}

#bg-content h4{
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
    word-spacing: 3px;
    font-family: 'Cairo',sans-serif;
    letter-spacing: 2px;
    color: #FFF;

}

/************************BLOG*********************/
#blog .border{
    border: 1px solid #ccc;
    display: inline-block;
    padding: 5px;
}
#blog{
    background-color: rgb(243,243,243);
}
#blog .border span:first-child{
    border-bottom: 1px solid #ccc;
    display: inline-block;
}

#blog h4{
    font-family: 'cario',sans-serif;
    display: inline-block;
    margin: 0;
    font-size: 17px;
}

#blog img{
    margin-bottom: 20px;
}
#blog a{
    color: #000;
}



/*****************************FEATURES*************************************/
#features{
    background-color: rgb(243,243,243);
}
.heading{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
}
.content{
    font-family: 'Cairo', sans-serif;
    font-size: 12px;
    margin-bottom: 15px;
}
.grey{
    color: #777;
}
#features .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0;
}

#features .item {
    padding: 3rem;
    background-color: rgb(243,243,243);
    color: #000;
    text-align: center;
}


/***************************CSS by p*********************************/
.heading{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
}
.content{
    font-family: 'Cairo', sans-serif;
    font-size: 16px;
/*    margin-bottom: 15px;*/
}
.grey{
    color: #777;
}
#about-kd ul li p{   
    display: inline-block;
}
/* #about-kd .about-video-container{
    width: 400px;
    height: 250px;
} */
#about-kd ul li{
    list-style: none;
}
#about-kd i{
    margin-right: 7px;
    font-size: 3px;
    font-weight: 100;
    color: #fff;
    background: #77bc25;
    padding: 1px;
    border-radius: 3px;
}
#about-kd .fa{
    font-size: 10px;
}
#about-kd a{
    margin-top: 5px;
} 
#services i{
    font-size: 20px;
    margin-top: 10px;
    margin-right: 10px;
}
.s-heading{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;

}
.inline{
    display: inline-block;
}
.fixed-container{
/*    width: 1300px;*/
    margin: 0 auto;
}
.small-div{
   width:250px; 
}
.mg-md{
    margin-left: 29px;
}
.d-grey{
    color: #666;
}
/* .g-hover:hover i{
    color: #77bc25;
/*    cursor: pointer;*/
/* } */

.g-hover:hover {
    cursor: pointer;
}

/*****************************FOOTER**************************************/
#footer{
    padding-top: 120px;
    background: rgb(33,28,28);
    height: 400px;
}

#footer .logo{
    width: 120px;
    height: 50px;
    margin-bottom: 20px;
     
}
#footer .info{
    color:#FFF;
    font-size: 16px;
    line-height: 1.6;
      font-weight: 200;
    
}
#footer .blog{
    width: 80px;
}
#footer .blog-1 .blog-info{
    color:#FFF;
    margin: 0;
}
#footer .blog-1 .blog-1-img{
    display: inline;
}
#footer li a{
     color:#FFF;
    font-size: 16px;
    line-height: 1.6;
    padding: 5px;
    display: inline-block;
    font-weight: 200;
    
}

#footer li{
    list-style: none;
    margin-left: 100px;
}

#footer li a:hover{
    color: #77bc25;
}

#footer h5{
    margin-left: 100px;
    margin-bottom: 20px;
    font-size: 17px;
    text-transform: uppercase;
    color:  #fff;
    font-weight: 700;
}

/* #footer .right{
    margin-left: 50px;
} */

#footer .down{
    padding-top: 60px;
    font-size: 16px;
}
#footer .grid {
    display: grid;
    grid-template-columns: 50px 100px;
    grid-gap: 20px;
    margin-top: 30px;
}
#footer .blog-heading{
    margin: 0;
    margin-top: 10px;
}
#footer .item {
    /* background: #FFF;
    color: #000; */
}
#footer .item-2 {text-align: left;}
/* #footer .item:first-child{
    text-align: right;
} */

#footer .horizontal {
      font-size: 12px;
    font-weight: 300;
    display: inline-block;
     padding-top: 60px;
    margin-left: -30px;
}

#footer .horizontal a{
    display: inline-block;
    padding-right: 40px;
}
/****************************************BLOG***************************/
#blog{
    background-color: rgb(243,243,243);
}

/****************************************TESTIMONALS***************************/

#testimonals .content-outer{
    display: table;
    text-align: center;
    width: 400px;
    height: 300px;
}

#testimonals .content-outer img{
    display: inline-block;
    width: 55px;
    height: 55px;
    margin-right: 0;
}


#testimonals .content-outer p{
    display: inline-block;
    margin-top: 30px;
}
#testimonals .content-inner{
    display: table-cell;
    
}


#testimonals .grid {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-gap: 0;
    margin-top: 30px;
}

#testimonals .item {
    background: #FFF;
    color: #000;
}

#testimonals .item:first-child{
    text-align: right;
}

#testimonals .border {
    background: #77bc25;
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    
}
#clients{
    background-color: rgb(243,243,243);
}
.suscribe{
    background-color: #77bc25;    
    padding: 20px;
}
.suscribe h2{
    font-family:'Cairo', sans-serif;
    display: inline-block;
    margin-right: 50px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    letter-spacing: 3px;
}
.suscribe-input{
    width: 500px;
    border: 1px solid #fff;
    background-color: #77bc25;
    padding: 10px;
    color: #FFF;
}
.suscribe-input[type=text]
{
    color: #FFF;
}
