/********************************GENERAL CLAASESS*************************************/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Cairo', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Josefin Sans', sans-serif;
}

a,a:focus,a:hover{
text-decoration: none;
}




body,html{
    width: 100%;
}
.content-box-md{
 padding: 200px 0;   
}

.content-box-lg{
    padding: 400px 0;
}

.content-box-sm{
    padding: 100px 0;
}

.m-t-10{
    margin-top: 10px!important;
}
.m-t-20{
    margin-top: 20px!important;
}

.m-t-30{
    margin-top: 30px!important;
}

.m-t-40{
    margin-top: 40px!important;
}

.m-t-50{
    margin-top: 50px!important;
}

.m-t-60{
    margin-top: 60px!important;
}
.m-t-70{
    margin-top: 70px!important;
}

.m-t-80{
    margin-top: 80px!important;
}

.m-t-90{
    margin-top: 90px!important;
}

.m-t-100{
    margin-top: 100px!important;
}

.m-t-110{
    margin-top: 110px!important;
}


.m-b-10{
    margin-bottom: 10px!important;
}
.m-b-20{
    margin-bottom: 20px!important;
}

.m-b-30{
    margin-bottom: 30px!important;
}

.m-b-40{
    margin-bottom: 40px!important;
}

.m-b-50{
    margin-bottom: 50px!important;
}

.m-b-60{
    margin-bottom: 60px!important;
}
.m-b-70{
    margin-bottom: 70px!important;
}

.m-b-80{
    margin-bottom: 80px!important;
}

.m-b-90{
    margin-bottom: 90px!important;
}

.m-b-100{
    margin-bottom: 100px!important;
}

.m-b-110{
    margin-bottom: 110px!important;
}

/***************************************PADDING TOP*********************************/
.p-t-10{
    padding-top: 10px!important;
}
.p-t-20{
    padding-top: 20px!important;
}

.p-t-30{
    padding-top:  30px!important;
}

.p-t-40{
    padding-top:  40px!important;
}
.p-t-50{
    padding-top:  50px!important;
}

.p-t-60{
    padding-top:  60px!important;
}
.p-t-70{
   padding-top:  70px!important;
}

.p-t-80{
    padding-top:  80px!important;
}

.p-t-90{
   padding-top:  90px!important;
}

.p-t-100{
   padding-top: 100px!important;
}

.p-t-110{
   padding-top: 110px!important;
}


 /***************************************PADDING BOTTOM*********************************/
.p-b-10{
    padding-bottom: 10px!important;
}
.p-b-20{
    padding-bottom: 20px!important;
}

.p-b-30{
    padding-bottom:  30px!important;
}

.p-b-40{
    padding-bottom:  40px!important;
}

.p-b-50{
    padding-bottom:  50px!important;
}

.p-b-60{
    padding-bottom:  60px!important;
}
.p-b-70{
   padding-bottom:  70px!important;
}

.p-b-80{
    padding-bottom:  80px!important;
}

.p-b-90{
   padding-bottom:  90px!important;
}

.p-b-100{
   padding-bottom: 100px!important;
}

.p-b-110{
   padding-bottom: 110px!important;
}

/***************************************PADDING LEFT*********************************/
.p-l-5{
    padding-left: 5px!important;
}
.p-l-10{
    padding-left: 10px!important;
}
.p-l-15{
    padding-left: 15px!important;
}
.p-l-20{
    padding-left: 20px!important;
}
.p-l-25{
    padding-left: 25px!important;
}
.p-l-30{
    padding-left: 30px!important;
}
.p-l-35{
    padding-left: 35px!important;
}
.p-l-40{
    padding-left: 40px!important;
}
.p-l-45{
    padding-left: 45px!important;
}
.p-l-50{
    padding-left: 50px!important;
}
.p-l-55{
    padding-left: 55px!important;
}
.p-l-60{
    padding-left: 60px!important;
}
.p-l-65{
    padding-left: 65px!important;
}
.p-l-70{
    padding-left: 70px!important;
}
.p-l-75{
    padding-left: 75px!important;
}
.p-l-80{
    padding-left: 80px!important;
}
.p-l-85{
    padding-left: 85px!important;
}
.p-l-90{
    padding-left: 90px!important;
}
.p-l-95{
    padding-left: 95px!important;
}
.p-l-100{
    padding-left: 100px!important;
}

/***************************************PADDING RIGHT*********************************/

.p-r-5{
    padding-right: 5px!important;
}
.p-r-10{
    padding-right: 10px!important;
}
.p-r-15{
    padding-right: 15px!important;
}
.p-r-20{
    padding-right: 20px!important;
}
.p-r-25{
    padding-right: 25px!important;
}
.p-r-30{
    padding-right: 30px!important;
}
.p-r-35{
    padding-right: 35px!important;
}
.p-r-40{
    padding-right: 40px!important;
}
.p-r-45{
    padding-right: 45px!important;
}
.p-r-50{
    padding-right: 50px!important;
}
.p-r-55{
    padding-right: 55px!important;
}
.p-r-60{
    padding-right: 60px!important;
}
.p-r-65{
    padding-right: 65px!important;
}
.p-r-70{
    padding-right: 70px!important;
}
.p-r-75{
    padding-right: 75px!important;
}
.p-r-80{
    padding-right: 80px!important;
}
.p-r-85{
    padding-right: 85px!important;
}
.p-r-90{
    padding-right: 90px!important;
}
.p-r-95{
    padding-right: 95px!important;
}
.p-r-100{
    padding-right: 100px!important;
}



/*<--------------------------MARGIN LEFT----------------------->*/

.m-l-5{
    margin-left: 5px!important;
}

.m-l-10{
    margin-left: 10px!important;
}

.m-l-15{
    margin-left: 15px!important;
}

.m-l-20{
    margin-left: 20px!important;
}

.m-l-25{
    margin-left: 25px!important;
}

.m-l-30{
    margin-left: 30px!important;
}

.m-l-35{
    margin-left: 35px!important;
}

.m-l-40{
    margin-left: 40px!important;
}

.m-l-45{
    margin-left: 45px!important;
}

.m-l-50{
    margin-left: 50px!important;
}

.m-l-55{
    margin-left: 55px!important;
}

.m-l-60{
    margin-left: 60px!important;
}

.m-l-65{
    margin-left: 65px!important;
}

.m-l-70{
    margin-left: 70px!important;
}

.m-l-75{
    margin-left: 75px!important;
}

.m-l-80{
    margin-left: 80px!important;
}

.m-l-85{
    margin-left: 85px!important;
}

.m-l-90{
    margin-left: 90px!important;
}

/*<--------------------------MARGIN RIGHT----------------------->*/

.m-r-5{
    margin-right: 5px;
}

.m-r-10{
    margin-right: 10px;
}

.m-r-15{
    margin-right: 15px;
}

.m-r-20{
    margin-right: 20px;
}

.m-r-25{
    margin-right: 25px;
}

.m-r-30{
    margin-right: 30px;
}

.m-r-35{
    margin-right: 35px;
}

.m-r-40{
    margin-right: 40px;
}

.m-r-45{
    margin-right: 45px;
}

.m-r-50{
    margin-right: 50px;
}
.m-r-55{
    margin-right: 55px;
}

.m-r-60{
    margin-right: 60px;
}

.m-r-65{
    margin-right: 65px;
}

.m-r-70{
    margin-right: 70px;
}

.m-r-75{
    margin-right: 75px;
}

/******************************BUTTONS********************************************/
.general-btn{
    font-size: 12px;
    text-align: center;
    font-weight: 700;
    color:#FFF;
    text-transform: uppercase;
    border: 1px solid #77bc25 ;
    padding: 9px 17px;
    background:  #77bc25;
    border-radius: 0;
    
}

.transparent-btn-green{
    border-radius: 0;
    padding: 9px 17px;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    font-weight: 700;
    border: 1px solid #77bc25 ;
    background: transparent;
    color: #FFF;
}
.transparent-btn-white{
    border-radius: 0;
    padding: 9px 17px;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    font-weight: 700;
    border: 1px solid #000;
    background: transparent;
    color: #000;
}


.custom-container{
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 0;
    margin-bottom: 0;
}
